
ul {
    list-style-type: none;
    
    margin-left: auto;
   margin-right: auto;
    overflow:hidden;
    background-color: black;
    border-radius: 25px;
    width: 535px;
}

li {
    float: left;
    
}

li a {
    display: inline-block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkslategray;
}

li a.active {
    color: white;
    background-color: blue;
}